article p, article blockquote, article li { margin-top: 29px; font-size: 20px; line-height: 34px;}
article blockquote { font-style: italic;}
article blockquote::before {
content: " ";
background: black;
width: 3px;
height: 100%;
position: relative;
display: block;
top: 0;}
