

* {box-sizing: border-box;}
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;}
a { color: inherit;}

/* article */

h1, h2, h3, p, ul, blockquote { width: 700px; margin: 0 auto;}
h1, h2, h3 { font-family: 'PT Sans Caption', sans-serif; font-weight: bold;}
h1 { margin-top: 67px; font-size: 38px; line-height: 45px;}


/*classes*/

.line { border-left: 3px solid black;
  margin-left: 0 auto;
  padding-left: 17px;}

.menubar {display: flex;
justify-content: space-between;
align-items: center;
height: 40px;
padding: 0 20px;
border-bottom: 1px solid #aaa;
box-shadow: 0 3px 4px 1px rgba(0.0.0.3);}

.menubar a {
  height: 20px;
  color: #aaa;
  text-decoration: none;}

.menubar a img {
  height: 100%;
  width: auto;}
