
nav {
  background: #999;
  width: 300px;
  display: block;
  position: fixed;
  top: 1020px
  left: 20px;
  padding: 30px;
  font-size: 15px;
  line-height: 20px;
opacity: 1;
overflow: hidden;
transition: all .1s ease-out;}

nav ul {
  list-style-type: none;}

nav li {margin: 10px 0;}

nav ul + ul {
  margin-left: 10px;}

  nav:hover {
    opacity: 1;
  }
